* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.dark__mode {
    --background-color: #131313;
    --color: #edf2fc;
    --icon: url('images/sun.png');
}

.light__mode {
    --background-color: #edf2fc;
    --color: #131313;
    --icon: url('images/moon.png');
}

/* Navbar Section */
.navbar {
    background: var(--background-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: var(--color);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #9518fc;
    transition: all 0.3s ease;
}

.mode__toggle {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--background-color);
    background-image: var(--icon);
    background-size: cover;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu {
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: -1;
    }

    .navbar__menu.active {
        background: var(--background-color);
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar {
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: var(--color);
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position: absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__toggle .bar {
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2) {
        opacity: 0;
    }

    #mobile-menu.is-active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    #mobile-menu.is-active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero Section */
.hero {
    background: var(--background-color);
    padding: 5rem 0;
}

.hero__container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.hero__content {
    color: var(--color);
    width: 100%;
}

.hero__heading {
    font-size: 4rem;
    margin-bottom: 32px;
    background: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    
}

.hero__description {
    font-size: 2rem;
    font-weight: normal;
    color: var(--color);
}

.highlight {
    border-bottom: 4px solid rgb(132, 0, 255);
}

.hero__img--card {
    margin: 10px;
    height: 360px;
    width: 480px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: url('images/pic3.jpg');
    background-size: cover;
}

@media screen and (max-width: 1100px) {
    
    .hero__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero__heading {
        font-size: 60px;
    }

    .hero__description {
        font-size: 40px;
    }
}

@media screen and (max-width: 520px) {

    .hero__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .hero__heading {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .hero__description {
        font-size: 1.5rem;
    }

    .hero__img--card {
        height: 240px;
        width: 320px;
    }
}

/* About Section */
.main {
    background-color: var(--background-color);
    padding: 8rem 0;
}

.main__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    height: 90%;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
}

.main__content {
    color: var(--color);
    width: 100%;
    text-align: center;
}

.main__content h1 {
    font-size: 4rem;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 32px;
}

.main__content h2 {
    font-size: 2rem;
    font-weight: normal;
    color: var(--color);
}

.main__img--container {
    text-align: center;
}

.main__img--card {
    margin: 10px;
    height: 270px;
    width: 480px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
    background-image: url('images/pic8.jpg');
    background-size: cover;
}

/* Mobile Responsive */
@media screen and (max-width: 1100px) {
    .main__container {
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin: 0 auto;
        height: 90%;
    }

    .main__img--container {
        display: flex;
        justify-content: center;
    }

    .main__img--card {
        height: 270px;
        width: 480px;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 4rem;
        margin-top: 2rem;
    }

    .main__content h2 {
        font-size: 2rem;
    }
}

@media screen and (max-width: 520px) {
    .main__img--card {
        height: 180px;
        width: 320px;
    }

    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }

    .main__content h2 {
        font-size: 1.5rem;
    }
}

/* Career Section */
.career {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5rem 0;
}

.career h1 {
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.career__wrapper {
    display: flex;
}

.career__card {
    margin: 10px;
    height: 400px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: url('images/pic4.jpg');
    background-size: cover;
    transition: 0.3s ease-in;
}

.career__card h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.career__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.career__card button {
    color: var(--color);
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--background-color);
    font-size: 1rem;
}

.career__card button:hover {
    cursor: pointer;
}

.career__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

.game__card h2 {
    text-align: center;
    margin-bottom: 2rem;
}

.game__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.game__card {
    margin: 10px;
    height: 400px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-image: url('images/GamePic.jpg');
    background-size: cover;
    background-position: right;
    transition: 0.3s ease-in;
}

.game__card button {
    color: var(--color);
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--background-color);
    font-size: 1rem;
}

.game__card button:hover {
    cursor: pointer;
}

.game__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}

@media screen and (max-width: 1100px) {
    
    .career__wrapper {
        grid-template-columns: 1fr 1fr;
    }

}

@media screen and (max-width: 650px) {

    .career h1 {
        text-align: center;
    }

    .career__card {
        height: 300px;
        width: 450px;
    }

    .game__card {
        height: 300px;
        width: 450px;
    }
}

@media screen and (max-width: 520px) {
    
    .career h1 {
        text-align: center;
        font-size: 2rem;
    }
    
    .career__wrapper {
        grid-template-columns: 1fr;
    }

    .career__card {
        height: 200px;
        width: 300px;
    }

    .game__card {
        height: 200px;
        width: 300px;
    }
}

/* Footer CSS */
.footer__container {
    background-color: var(--background-color);
    padding: 5rem 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center
}

.footer__links {
    width: 100%;
    max-width: 1000px;
    display: flex;
    justify-content: center;
}

.footer__link--wrapper{
    display: flex;
}

.footer__link--items {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px;
    text-align: left;
    width: 160px;
    box-sizing: border-box;
}

.footer__link--items h2 {
    margin-bottom: 16px;
    color: var(--color);
}

.footer__link--items p {
    color: var(--color);
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
}

.footer__link--items a {
    color: var(--color);
    text-decoration: none;
    margin-bottom: 0.5rem;
    transition: 0.3 ease-out;
}

.footer__link--items a:hover {
    color: var(--color);
    transition: 0.3 ease-out;
}

@media screen and (max-width: 820px) {
    .footer__links {
        padding-top: 2rem;
    }

    .footer__link--wrapper {
        flex-direction: column;
    }
}

@media screen and (max-width: 480px) {
    .footer__link--items {
        margin: 0;
        padding: 10px;
        width: 100%;
    }
}