* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

.dark__mode {
    --background-color: #131313;
    --color: #edf2fc;
    --icon: url('images/sun.png');
}

.light__mode {
    --background-color: #edf2fc;
    --color: #131313;
    --icon: url('images/moon.png');
}

/* Navbar Section */
.navbar {
    background: var(--background-color);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

#navbar__logo {
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
}

.mode__toggle {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border: none;
    outline: none;
    background-color: var(--background-color);
    background-image: var(--icon);
    background-size: cover;
}

/* Motivation Section */
.motivation {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding-top: 5rem;
}

.motivation__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    height: 90%;
    text-align: center;
    padding: 30px;
}

.home__btn {
    font-size: 1.4rem;
    color: var(--color);
    background: #00dbde;
    background: -webkit-linear-gradient(to right, #00dbde, #fc00ff);
    background: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    padding: 20px 60px;
    border: none;
    border-radius: 4px;
    margin-top: 2rem;
    cursor: pointer;
    position: relative;
    transition: all 0.35s;
    outline: none;
}

.motivation__heading {
    font-size: 4rem;
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    padding: 5rem;
}

.motivation__description {
    font-size: 2rem;
    font-weight: normal;
    color: var(--color);
}

/* Game Section */
.game {
    background: var(--background-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    padding: 5rem 0;
}

.game__heading {
    background-image: linear-gradient(to right, #00dbde 0%, #fc00ff 100%);
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    margin-bottom: 5rem;
    font-size: 2.5rem;
}

.game__wrapper {
    display: flex;
}

.game__card {
    margin: 10px;
    height: 400px;
    width: 300px;
    border-radius: 4px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #fff;
    background-size: cover;
    transition: 0.3s ease-in;
}

.game__card:nth-child(1) {
    background-image: url('images/PongPic.png');
    background-position: right;
}

.game__card:nth-child(2) {
    background-image: url('images/BunnyHopPic.png');
}

.game__card:nth-child(3) {
    background-image: url('images/MinesweeperPic.png');
}

.game__btn {
    display: flex;
    justify-content: center;
    margin-top: 16px;
}

.game__card button {
    color: var(--color);
    padding: 14px 24px;
    border: none;
    outline: none;
    border-radius: 4px;
    background: var(--background-color);
    font-size: 1rem;
}

.game__card button:hover {
    cursor: pointer;
}

.game__card:hover {
    transform: scale(1.075);
    transition: 0.3s ease-in;
    cursor: pointer;
}